#mobileContaier{
	width:100%;

}
#tabletContainer{
	width:60%;
}

.container{
	font-size: 14px;
}
.menuContainer{
	display: inline-block;
}
.dishContainer{
	display: inline-block;
	width:460px;	
	border-radius: 10px;
	border:solid 1px;
	padding: 3px;
	/*margin: 3px;*/
	/*border-radius: 10px;*/
}

.dishName{
	display: inline-block;
	font-family: monospace;
	text-transform: uppercase;
	width: 400px;
	/*border:solid 1px;*/
}

.dishIngredients{
	color: red;
	width: 400px;
	margin-bottom:12px; 
	/*border:solid 1px;*/
}

.dishCost{
	display: inline;
	right: 50px;
/*	margin-left:51%; 
*/	width:15%;
	/*border:solid 1px;*/
}

.allergen{
	vertical-align: top;
	width: 20px;
	height: 20px;
}


